* {
    margin: 0%;
    box-sizing: border-box;
}

.header {

}

.header__content {
    background-image: url(img/header_background.jpg);
    background-size: cover;
    height: 1200px;

}

.header__navbar {
    display: flex;
    justify-content:end;
}

.navbar__link {
    text-decoration: none;
    color: white;
    padding: 0 20px;
}

.header__title {
    display: flex;
    justify-content: center;
    color: beige;
    padding: 420px 0;
    font-size: 250px;
}